# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env

# Database
*.db
database/*.db

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Build
dist/
build/

# Temp
tmp/
temp/
